@import 'font.css';

body{
    background-color: white;
}

@media screen and (max-width: 530px){
    body{
        background-color: #012B28;
    }  
}

header{
    position:relative;
}

.logo{
    z-index: 1;
    position:relative;
   }

.programmation-text{
    color:#4CB8DA;
    font-family:Black And White Picture, Arial, sans-serif;
    font-size: 50px;
    font-weight: 400;
    font-style: normal;
    stroke-width: 50px;
    text-align:center;
    position:relative;
    z-index:1;
    text-shadow: -4px 0 #673CAE, 0 4px #673CAE, 4px 0 #673CAE, 0 -4px #673CAE;
}

.sideMenu{
    align-content: flex-start;
    height: 800%;
    width:230px;
    z-index:2;
    position: absolute; 
    right: 0;
    top:0;
    background-color: #096662;
    padding-top:100px;

}

.sideMenu a{
    text-decoration: none;
    color:white;
    font-size:15px;
    font-family: bungee, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
}

ul {
    list-style-type: none;
    }

li{
    margin:15px 50px 15px 10px;
    text-align: right;

}
h2, p{
    text-align: center;
    margin:5px 30px 5px 30px;
    font-family: bungee,Arial, sans-serif;
    color: #E5C8C8;
    font-size: inherit;
}

h2{
    font-size:15px;
    margin-top:30px;
    margin-bottom: 30px;;
}

p{
    font-size: 10px;
    line-height: 1.6; /* Ajuste l'espacement entre les lignes */
    letter-spacing: 0.11em; /* Ajuste l'espacement entre les lettres */
}
