.btnArtist{
    color:#096662 !important;
    background-color:#E5C8C8 !important;
    
}

.btnArtist:active ,.btnArtist:focus{
    color:#E5C8C8 !important;
    background-color:#096662 !important;
}


.btnHoraires{
    color:#096662 !important;
    background-color:#E5C8C8 !important;

}

.btnHoraires:active, .btnHoraires:focus{
    color:#E5C8C8 !important;
    background-color:#096662 !important;
}


.btnLineUp{
    font-family: Bungee;
    color:#096662 !important;
    background-color:#E5C8C8 !important;

}


.btnLineUp:active, 
.btnLineUp:focus, .btnLineUp:target{
    color:#E5C8C8 !important;
    background-color:#096662 !important;
}

.btnFriday{
    color:#096662 !important;
    background-color:#E5C8C8 !important;

}

.btnFriday:active, 
.btnFriday:focus{
    color:#E5C8C8 !important;
    background-color:#096662 !important;
}

.btnSaturday{
    color:#096662 !important;
    background-color:#E5C8C8 !important;

}

.btnSaturday:active, .btnSaturday:focus{
    color:#E5C8C8 !important;
    background-color:#096662 !important;
}


.btnSunday{
    color:#096662 !important;
    background-color:#E5C8C8 !important;

}

.btnSunday:active, .btnSunday:focus{
    color:#E5C8C8 !important;
    background-color:#096662 !important;
}

