@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.sideMenu{
  align-content: flex-start;
  height: 800%;
  width:230px;
  z-index:2;
  position: absolute; 
  right: 0;
  top:0;
  background-color: #096662;
  padding-top:100px;
padding-top:100px;
}

.sideMenu a{
  text-decoration: none;
  color:white;
  font-size:15px;
  font-family: bungee, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sidebar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.sidebar h1 {
  color: #f1356d;
}
.sidebar .links {
  margin-left: auto;
}
.sidebar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.sidebar a:hover {
  color: #f1356d;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

concert-preview{
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}

.concert-preview:hover{
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.concert-preview h2{
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}