/* .map-wrap {
    position: relative;
    width: 100%;
    height: calc(100vh - 77px); /* calculate height of the screen minus the heading */
  
    /* transform: scale(1.5)translateX(-4.5rem) translateY(15rem);} */ 
  
  /* .map {
    position: absolute;
    width: 210%;
    height: 50%;
  
  } */

  .MapContainer{
    height: 100vh;
   
  }

  .btnIcon{
background-image: url("./image/star.png");
  }

  .btnStar{
    background-color: transparent;
    border-radius: 25px;
    padding: 8px 12px;
    border-color: transparent;
    color: white;
    font-size: 2vh;
    outline: none;
  }
 