.map-wrap {
    position: relative;
    width: 100%;
    height: calc(100vh - 77px); /* calculate height of the screen minus the heading */
  
    transform: scale(1.3)translateX(-4rem) translateY(12rem);}
  
  .map {
    position: relative;
    width: 180%;
    height: 50%;
   
  }

 