/* .map-wrap {
    position: relative;
    width: 100%;
    height: calc(100vh - 77px); /* calculate height of the screen minus the heading */
  
    /* transform: scale(1.5)translateX(-4.5rem) translateY(15rem);} */ 
  
  .mapWrap {
    position: absolute;
    display: flex;
 justify-content: center;
 align-items: center;
  transform: translateX(100rem);
  width: 10rem;
  } 

  .MapContainer{
    height: 100vh;
   
  }

  /* .btnIcon{
background-image: url("./image/toilet.png");
z-index:3000;

  } */

  .btnStar{
    background-color: transparent;
    border-radius: 25px;
    padding: 8px 12px;
    border-color: transparent;
    color: white;
    font-size: 2vh;
    outline: none;
  }
 
  .custom-popup, .leaflet-popup-content-wrapper {
    background:#2c3e50;
    color:#fff;
    font-size:350%;
    line-height:10px;
    border-radius: 10px;
    }

/* .custom-popup, .leaflet-popup-content-wrapper a {
    color:rgba(36, 7, 134, 0.1);
    } */

    .CustomIcon{
      display: flex;
    }