.navbar{
    position: sticky;
  display: flex;
  justify-content: space-around;  
  align-items: center;
  background-color: #012B29;
}

.menuNav{
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    top:8rem;
    left:2rem;
    width:2.7rem;
    height:2rem;
    z-index: 3;
}

.line{
    width:100%;
    background-color: #ffffff;
    height: 0.4rem;
}

ul{ 
    position: relative;
    display: flex;
    /* justify-content: space-around; */
    background-color: #096662;
    top:0rem;
    width: 100%;
}


.navli{
    list-style: none;
    display: block;
    color:#ffffff;
    font-size:18px ; 
    font-family: bungee,Arial, sans-serif;
    background-color: #096662;
    padding: 0.3rem;
    margin:1.5rem;
    border-radius: 0.5rem;
}


.navli:active{
      background-color: #012B29;
}
   
.navli:not(.active):hover{
    opacity: 0.8;
}


@media(max-width:1280px){
    ul{ 
       /* justify-content: space-around; */
        background-color: #096662;
        top:0rem;
        width: 100%;
    }
    }

@media(max-width:1024px){

    .logoXtra{
        height: 10%;
        width:10%;
        display: inline-block;
        background-repeat: no-repeat;
      background-size: cover;
      padding: 0px;
      margin: 0px;
      /* width: 150px;
      height: 50px; */
      /* left:0px; */
        position: relative;
        /* z-index: 1; */
        left: 48%;
    }

    .navbar{
      display: none;
  
    }

ul{
        display: none;
        position: fixed;
        flex-direction: column;
        align-items: start;
        margin-bottom: 0.25rem;
        background-color: #096662;
        height: 100vh;
        z-index: 3;
   
        /* transition: 2.2s cubic-bezier(.36,-0.01,0,.77); */
    }
.navli{
    margin:0rem;
}

    ul.open{
        display: flex;
        width: 50%;
        height: 200vh;
        z-index: 3;
        animation-name: slide;
        animation-duration: 500ms;
        animation-direction:reverse;
    }

    @keyframes slide {
        0%  {left:0rem; }
        100%  {left:-5rem; }
    
      }

    .navli{
        top:10rem;
        margin-top: 5px;
    }

    a{
        top:3rem;
        margin: 0.2px;
    }

    .menuNav{
        display: flex;
    }
    .overlayMenu{
        position: fixed;
        right:0px;
        opacity: 0;
        width: 50%;
        height: 200vh;
        background-color: aquamarine;
        z-index: 1;
}
}


@media(max-width:480px){

    ul.open{
 
        width: 60%;
     
    }

   
    .logoXtra{
        /* height: 8%;
        width:8%; */
      
    }

}

