.carousel{
    transform: translate(0px,200px);
}


.container {
    position:relative;
	display: flex;
    flex:auto;
	align-items: center;
	justify-content: center;
    transform: translateX(5rem);
    width:3rem;

}
 .imgPoster{
    height:300px;
     width:180px;
    position:relative;
   border-radius: 20%;
   margin-left: -40px;
 }

.namePoster{
 color:#F8FD04;
 font-size:18px ;
 -webkit-text-stroke-width: 2px;
 -webkit-text-stroke-color: #2CC94E;  
 font-family: bungee,Arial, sans-serif;
 transform: translateY(1rem);
 z-index:2000;
}

.datePoster{
    color:#F8FD04;
    font-size:15px ; 
    font-family: Montserrat Alternates,Arial, sans-serif;   
}