.container {
    position:relative;
	display: flex;
    flex:auto;
	align-items: center;
	justify-content: center;
	position: relative;
    transform: translateX(5rem);


.cardImage {
    opacity: 0.6;  
    z-index: 1;
    transform: scale(0.6) translateY(1rem);
    margin-top: 30px;
   transition: 1s;
  
   
   &:after{
   content:"";
   position:relative;
    height:2px;
    width:100%;
    bottom:-5rem;
    filter:blur(4px);
   }
   &:nth-child(0):before{
   
    position:absolute;
    top:50%;
    left:50%;
    transform:translateX(-50%)
    translateY(-50%);
    display: none;
    transition:1s;
   }
   &:nth-child(1):before{
  
    position:relative;
    top:50%;
    left:50%;
    transform:translateX(-50%)
    translateY(-50%);
    display: none;
    transition:1s;
   }
   &:nth-child(2):before{
   
    position:relative;
    top:50%;
    left:50%;
    transform:translateX(-50%)
    translateY(-50%);
    display: none;
    transition:1s;
   }
   &:nth-child(3):before{
   
    position:relative;
    top:50%;
    left:50%;
    transform:translateX(-50%)
    translateY(-50%);
    display: none;
    transition:1s;
   }
   &:nth-child(4):before{
  
    position:relative;
    top:50%;
    left:50%;
    transform:translateX(-50%)
    translateY(-50%);
    display: none;
    transition:1s;
   }
   &:nth-child(5):before{
   
    position:relative;
    top:50%;
    left:50%;
    transform:translateX(-50%)
    translateY(-50%);
    display: none;
    transition:1s;
   }
   &:nth-child(6):before{
  
    position:relative;
    top:50%;
    left:50%;
    transform:translateX(-50%)
    translateY(-50%);
    display: none;
    transition:1s;
   }

   &.active{
    position:relative;
    z-index: 3;
    transform: scale(1) translateX(0.5rem) translateY(0);
    opacity:1;
    transition:1s;
   }
}
}

  .container.cardImage.prev,
 .container.cardImage.next{
    position:relative;
    z-index:2;
    transform:scale(0.8) translateX(2rem) translateY(-1rem);
    opacity:0.6;
    transition:1s;
}
 .imgPoster{
    position:relative;
   border-radius: 20%;
   margin-left: -40px;
 }

