
.logoXtra{
    position: relative;
    z-index: 1;
    top:0rem;
    right:0rem;
    cursor: pointer;
    
  }
  
  .logoNetwork{
   height: 1.5rem;
   width: 1.5rem;
   font-weight: bold;
  }

  
.descriptif{
    position: relative;
    height: 230px;
    width: 90%;
    padding-bottom: 1px;
    display: inline-flex;
    flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 5px;
  }