
.information{
    position: relative;
    display: inline-block;
    opacity: 1;
    z-index: 0;
    width: 80%;
}

.ulInfo{
    position: relative; /* Set as the reference point for .btnPlus */
    left: 0px;
    height: 2rem;
    border-radius: 8px;
    width: 100%;
    color: #096662;
    background-color: #E5C8C8;
    display: flex; /* Ensure children are aligned properly */
    align-items: center; /* Vertically center the children */
    justify-content: center; /* Horizontally center the children */
}

.ulInfo, .liInfo{
    margin-top: 5rem;
    height: 100%;
    z-index: 0;
    width: 100%;
    position: relative;
    padding: auto;
    padding-left: 0px;
    margin: 0px;
    background-color:#2a534c;
    border-radius: 8px;
    color:#2a534c;
    font-size:15px ; 
    font-family: bungee,Arial, sans-serif;
    justify-content: end;
    /* justify-content: space-evenly; */
}


.btnInfo{
    position: relative; /* Set as the reference point for .btnPlus */
    height: 2rem;
    border-radius: 8px;
    width: 100%;
    color: #096662;
    background-color: #E5C8C8;
    display: flex;
    align-items: center; 
    justify-content: space-between; /* Ensure the button stays aligned */
    overflow: hidden; /* Prevent content overflow */
}

h6{
    display: none;
}
h6.open{
    display: block; /* Show the content when open */
    height: auto; /* Allow the content to expand */
    height: 100%;
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
   text-justify:newspaper;
    background-color: #E5C8C8;
    transition: ease-out;
    z-index: 0;
}
.btnBox{
   height: 7rem;
   align-items: center;
   justify-content: center;
}
.btnBox,.btnretour{
   margin-top: 20px;;
   position: sticky;
   bottom: 0px;
   z-index: 1;
}

.btnPlus{
    position: absolute; 
    top: 50%; 
    left: 90%;
    transform: translate(-50%, -50%); 
    display: flex;
    flex-direction: row;
    color: #E5C8C8 !important;
    background-color: #096662 !important;
    border-radius: 8px;
    padding: 0.5rem 1rem; 
    z-index: 2;
}