.containerWrap {
    width: 95%;
    height: 271px;
    position: relative;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -40%);
     overflow: hidden; 
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: row; /* Ensure items are laid out in a row */
      gap: 25px; /* Add spacing between items */
      overflow-x: none;
    }


    
    .inner-container{
    
    display: flex;
    gap: 25px;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    animation-name: slider;
    animation-duration: 2s;
    animation-direction: alternate-reverse;
    }
    @keyframes slider {
        0%  {left:0rem; }
        50%  {left:-10rem; }
        100%  {left:0rem; }
      }
    .item {
      width:152px;
      height: 250px;
    border-radius: 5px;
    background-color: #012B29;
    border-radius: 8px;
    }
   .imgConcertFront{
        width:152px;
        height: 229px;
        object-fit: cover;
      
    }

    .carousel-preview{
        position: relative;
        margin: auto;
        height: 15rem;
        /* width: 20rem; */
    
    }

    .textBox{
      height: 20px;
      width: 65px;
    }


    @media screen and (max-width: 600px) {
      .containerWrap{
         overflow-x: scroll;
         scrollbar-width: thin;
         scrollbar-color: #E5C8C8 #096662;
         position:relative;
         left: 50%;
         /* margin: auto; */
         /* transform: translateX(12rem) translateY(6rem); */
         display: flex;
         align-items: center;
         justify-content: center;
         flex-direction: row;
       justify-content: space-around;
         /* align-items: center; */
         /* justify-content: center; */
         overflow-x: none;
  }
  }