
.partners
{
  position: relative;
display: flex;
justify-content: center;
align-items: center;
}

.mainPartners{
  /* display: flex; */
  justify-content: center;
  align-items: center;
}
.textPartners{
  margin-top: 5rem;
  position: relative;
  top:0px;
  cursor: pointer;
  text-align: center;
  /* margin:5px 30px 5px 30px; */
  color:#833346;
  font-size: 15px;
  font-family: Bungee,Arial, sans-serif;
  margin-bottom: 5px;
  text-decoration: none; 
}

.partner-preview{

  position: relative;
  /* transform: translateX(2rem)translateY(10rem); */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 3px;
 z-index: 0;
 /* flex-direction: column; */
 /* justify-content: center; */
 /* align-items:flex-start; */
}

.partnerBox{
  height: 7rem;
  width: 80%;
  padding-bottom: 1px;
  background-color:#012B29;
  display: inline-flex;
  flex-wrap: wrap;
  border:solid #833346;
  white-space: pre-wrap;      /* CSS3 */   
  white-space: -moz-pre-wrap; /* Firefox */    
  white-space: -pre-wrap;     /* Opera <7 */   
  white-space: -o-pre-wrap;   /* Opera 7 */    
  word-wrap: break-word;      /* IE */
}

.btnPartner{
  border: solid #833346;
  background-color: #012B29;
  width:5rem;
  margin: 0.1rem 0.1rem;
  height: 80px;
  width: 80px;
transition: 1s;
overflow: hidden;
opacity: 0.8;
}


.btnPartnerList{
  position: relative;
  background-color: #833346;
  border: none;
  /* color: white; */
  /* padding: auto; */
  text-align: center;
  /* text-decoration: none;
  height: 10rem;
  width:10rem;
  line-height: 50%;
  /* font-size: 30%; */
  padding: 1rem;
margin: 0.5rem 0.5rem; 
transition: 1s;
 overflow: hidden;
}


.btnPartner:active{
opacity: 1;
transform: scale(1.5);
}

.imgPartnerFront{
  position: relative;
align-items: center;
object-fit: fill;
height: 100%;
 width: 100%;

}

.imgPartner{
  position: relative;
align-items: center;
object-fit: fill;
height: 8rem;
 width: 8rem;
 opacity: 1;
}

@media(max-width:838px) {
    .partnerBox{
        height: 180px;
        width: 25rem;
      }
      
}

@media(max-width:602px) {
    .partnerBox{
        height: 180px;
        width: 23rem;
      }
      
}

@media(max-width:562px) {
    .partnerBox{
        height: 180px;
        width: 70%;
      }
      
}


@media(max-width:482px) {
  
      .imgPartner{
        /* position: inherit; */
        object-fit:fill;
   
      }

    .partnerBox{
        height: 180px;
        width: 80%;
    }
}

@media(max-width:450px) {
  

  .partnerBox{
      height: 180px;
      width: 90%;
  }
}

@media(max-width:375px) {
  

    .partnerBox{
        height: 180px;
        width: 98%;
    }
  }