
.concert{
    overflow-x: hidden;
    position: relative;
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on touch devices */
  }
  
  .div.concert-preview{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
  }

.box{
    margin: auto;
    align-items: center;
    position: relative;
}



.timetable{
/* padding: 5%; */
display: flex;
justify-content: flex-start;
align-items: start;
overflow:scroll;

}

.textTimetable{
    position: relative;
    display: none;
    text-align: center;
    justify-content: center;
    /* padding: 0rem; */
    /* margin-bottom: 5px; */
    /* width: 0rem; */
    /* left: 5rem; */
    /* height: 3rem; */
    font-family: bungee,Arial, sans-serif;
    color: #ffffff;
    z-index: 0;

  }

  .textLargeTimetable{
    font-family: bungee,Arial, sans-serif;
    color: #ffffff;
    position: relative;

  }

.boxTitle{
    position: relative;
    background-color:#096662;
    border-radius:8px;
    height: 70px;
    width: 20rem;
    justify-content: center;
    align-items: center;
    transform: translate(1.90rem,0.3rem);
    margin-bottom: 10px;
}

.headTitle{
    font-family: bungee,Arial, sans-serif;
    color: #ffffff;
    position: relative;
    align-items: center;
    justify-content: center;
    transform: translate(0rem,1rem);
}

.boxArtist{
    color:#096662 !important;
    background-color:#E5C8C8 !important;
    border-radius:8px !important;
    height: 70px;
}

.imglist{
 display: flex;
    border-radius:50%;
}
@media(max-width:600px){

    .div.concert-preview{
        display: flex;
        flex-direction: column;
        align-items:flex-start;
      }
    }

@media(max-width:480px) {
    
    .timetable{
        padding: 5%;
        display: block;
        }
        .textTimetable{
            display: flex;
            position: relative;
            text-align: center;
            margin:5px 30px 5px 30px;
            font-family: bungee,Arial, sans-serif;
            color: #ffffff;
            z-index: 2;
          }

          .textLargeTimetable{
           display: none;
          }

          .boxTitle{
                 width: 20rem;
            }
}