
.concertpreview {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    padding: 0;
    height: 100%;
    width: 20rem;

}

.programwrap{
    display: flex; 
    flex-shrink: calc(100% - 20rem); 
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    justify-content: center;
  }


  .boxConcertlink {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    background-color: transparent; 
    border-radius: 5px; 
    padding: 20px; 
    margin: 10px; 
    height: auto; 
    width: 250px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  
    
}

.imgConcert{
    border-radius: 10px;
    width:inherit; 
    height: 500px;
    object-fit: cover; 
    margin-bottom: 10px;
    transform: translateY(-7rem);
   left: -3rem;
   z-index: -2;
   opacity: 0.8; 
    transition: opacity 0.3s ease, transform 0.5s ease; 
    }
    
    .imgConcert:hover {
        opacity: 1;
        transform: scale(1.05);
        
        z-index: -1;
        box-shadow: rgb(0,0,1);
        gap:4rem;
     
        position: relative;
    }



    .concertpreview {
        flex-direction: none; 
        display: grid; 
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
        flex-wrap: wrap;
        justify-content: center; 
        gap: 0px; 
        padding: 0px; 
        height: 100%;
        animation-name: fadeIn; 
        animation-duration: 1s; 
        animation-timing-function: ease-in-out; 
        animation-iteration-count: 1; 
        animation-fill-mode: forwards; 
        opacity: 0; 
        }
.artistDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    width: 50rem;
    overflow-x: hidden;
    overflow-y: visible; 
    scrollbar-width: none;
    
}
        .artistDetailsContent{
            display: flex;
            padding: 20px;
            width: 80%;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
           overflow: visible;
            box-sizing: border-box;
            margin: 1rem auto;
            position: static;
            border-radius: 5px;
             height: auto;
        }

        .imgConcertDetail {
            width:25rem;
            height: 25rem;
            object-fit: cover;
            margin-bottom: 20px; 
            opacity: 1;
        }

        .artistDetailtext {
            text-align: center;
            /* font-size: 0.5rem; */
            color: #ffffff;
            margin-bottom: 1px;
            padding: 1px;
            width: 35rem;
            font-family: bungee,Arial, sans-serif;
            line-height: 1.6; 
            letter-spacing: 0.11rem; 
            font-size: 0.9rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

/* Define the fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0; 
        transform: translateY(20px); 
    }
    to {
        opacity: 1; 
        transform: translateY(0); 
    }
}

  @media(max-width:600px){

    .programwrap{
        position: relative;
        display: flex; 
        flex-shrink: none; 
        flex-wrap: none;
        flex-direction: none;
        flex-shrink: none;
      }

      .concertpreview {
    display: flex;
    grid-template-columns: none; 
    flex-wrap: none; 
    justify-content: center; 
    gap: 0;
    padding: 0; 
    }

    @keyframes fadeIn {
        from {
            opacity: 0; 
            transform: translateY(20px); 
        }
        to {
            opacity: 1;
            transform: translateY(0rem); 
        }
    }


    .boxConcertlink {
        color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
        text-decoration: none;
        height: 100%;
        width: 100%;
        justify-content: center;
        display: flex; 
        flex-direction: column; 
        align-items: center;
        gap: 5px; 
        flex-direction: none; 
    }


    .boxConcertlink::after, ::before {
        box-sizing: border-box;
    }

    .boxConcertlink:-webkit-any-link {
        cursor: pointer;
        text-decoration: none;
    }

    .imgConcert{
        align-items: center;
        object-fit: cover;
        height:600px;
       width:90%;
       margin: 0; 
       width: 80%; 
    max-width: none; 
    margin-bottom: 0;
    transform: none;
   left: 0rem;
   opacity: 1;
       }

  }


  
  @media(max-width:480px) {
    .imgConcert{
      height:600px;
      width:380px;
      }

         .imgConcertDetail {
            width:15rem;
            height: 15rem;
            object-fit: cover;
            margin-bottom: 20px; 
            opacity: 1;
        }

        .artistDetailtext {
            text-align: center;
            font-size: 1.2rem;
            color: #eee2bc;
            margin-bottom: 10px;
            padding: 10px;
            width: 25rem;
             font-family: bungee,Arial, sans-serif;
              line-height: 1.6; 
            letter-spacing: 0.11rem; 
            font-size: 0.9rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
  }