
.carousel {
    width: 100%;
    position:relative;
    height: 15rem;
    /* margin: auto; */
    /* transform: translateX(12rem) translateY(6rem); */
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: row; */
  /* justify-content: space-around; */
    /* align-items: center; */
    /* justify-content: center; */
    /* margin-bottom: 6rem; */
    padding: 3rem;
} 


.imgPoster{
    height:100%;
     width:20rem;
   border-radius: 8%;
   object-fit: cover;
 }

.namePoster{
 color:#F8FD04;
 font-size:100%;
 -webkit-text-stroke-width: 1px;
 -webkit-text-stroke-color: #04fd19;  
 font-family: bungee,Arial, sans-serif;
 transform: translateY(0rem);
 /* display: flex;
 justify-content: center;
 align-items: center; */
 /* margin: auto;
 padding: auto; */
 position: absolute;
 z-index: 0.8;
}

.datePoster{
  position: absolute;
    color:#fff;
    font-size:70% ; 
    font-family: bungee,Arial, sans-serif; 
    text-shadow: 2px 2px 5px black;
    transform: translateY(2rem);
  z-index: 2;
} 

.dayPoster{
  position: absolute;
    color:#fff;
    font-size:80% ; 
    font-family: bungee,Arial, sans-serif; 
    text-shadow: 2px 2px 5px black;
    transform: translateY(1rem);
  z-index: 2;
}
 
.poster {
    /* position: relative; */
    top: 0;
    right:0;
    bottom: 0;
    box-shadow: none;
    border-radius: 8px;
    margin:auto;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .poster--active{
    position: absolute;
    display: flex;
    /* justify-content: center;  */
    margin: auto;
    right:38%;
    transform: scale(1);
    z-index:1;
    transition: 1000ms;
    opacity: 1;
    object-fit: cover;
  
  }

  .poster--left{
    position: absolute;
    right:65%;
    transform: scale(0.8);
    transition: 1000ms;
    opacity: 0.8;
    z-index:0.8;
    
  }

  .poster--right{
    position: absolute;
    transform: scale(0.8);
    left:50%;
    transition: 1000ms;
    opacity: 0.8;
    z-index:0.8;
  }

  .poster--invisible{
    position: absolute;
    right:25%;
    margin: auto;
    transform: scale(0.6); 
    opacity: 0;
    transition: 1000ms;
    z-index: 0;
  }

  .partnerBox{
    position: relative;
    justify-content: center;
    align-items: center;
    height:20rem;
    background-color: #04fd19;
  }

  .btnpartner1{
    position: absolute;
    top:50%;
    right:30%;
    /* border-radius: 8px; */
    background-color: #F8FD04;
    /* transform: translateY(50%)translateX(3rem); */
    animation-name: myAnimation;
    animation-duration: 2s;
    height: 6rem;
    width:10rem;
    /* animation-direction:normal;
    animation-iteration-count: 1; */
    /* animation-timing-function: linear; */
  }

  @keyframes myAnimation {
    from {
      height: 1rem;
      width:3rem;
    }
    to {
      height: 6rem;
      width:10rem;

    }
  }
@media(max-width:480px) {

  .carousel {

    margin-bottom: 6rem;

} 
  .imgPoster{
    height:140%;
     width:180px;
   border-radius: 8%;
   object-fit: cover;
   transition: ease;
 }

 .poster--active{
  position: absolute;
  display: flex;
  justify-content: center;
  right:7.5rem;
  /* transform: translateX(-50%) scale(1); */
  z-index:1;
  transition: 1000ms;
  opacity: 1;
  object-fit: cover;
}

.poster--left{
   right:15rem;
  /* transform: translateX(-150%) scale(0.8); */

  
}


}